.loginpage {
    background: url("../image/bg.jpg") no-repeat fixed center center !important;
    background-size: cover !important;
}

.imglogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slogan {
    color: orange;
}

.logonGrid {
    /*border: 5px solid blue;*/
    /*border-radius:2em;*/
    position: fixed;
    top: 40%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

/* Icon styles
-------------------------------------------------------*/
/* line 165, smithfield.scss */
.iconStyle {
    margin: 5px 0;
    background: #FFF0D6;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    -ms-border-radius: 45px;
    -o-border-radius: 45px;
    border-radius: 45px;
    text-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 0px;
}

/* Inputs styles
-------------------------------------------------------*/
/* line 176, smithfield.scss */
.inputStyle input {
    border-color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    text-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 0px;
    -webkit-transition-property: border-color;
    -moz-transition-property: border-color;
    -o-transition-property: border-color;
    transition-property: border-color;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

/*Button styles
-------------------------------------------------------*/
/* line 190, smithfield.scss */
.sapMBtnInner.sapMBtnHoverable:hover {
    background-color: rgba(225, 225, 225, 0.2);
}

/* line 195, smithfield.scss */
.buttonStyle .sapMBtnInner {
    /*margin-bottom:5px;*/
    font-size: 1rem;
    font-weight: bold;
    color: #6B6B69;
    background: #FFF0D6;
    border: 1px solid #FFF0D6;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: #fed099 0px 2px 0px, rgba(0, 0, 0, 0.1) 0px 4px 1px;
    -moz-box-shadow: #fed099 0px 2px 0px, rgba(0, 0, 0, 0.1) 0px 4px 1px;
    box-shadow: #fed099 0px 2px 0px, rgba(0, 0, 0, 0.1) 0px 4px 1px;
}

/* line 207, smithfield.scss */
.buttonStyle .sapMBtnInner.sapMBtnHoverable:hover {
    background-color: #FFFCF2;
    border: 1px solid #FFFCF2;
}

/* line 213, smithfield.scss */
.buttonStyle .sapMBtnInner.sapMBtnActive:not(.sapMBtnDisabeled),
.buttonStyle .sapMBtnInner.sapMBtnDesktop:active:not(.sapMBtnDisabeled) {
    background-color: #10ACE7;
    border: 1px solid #0098DA;
    -webkit-box-shadow: #0098da 0px 2px 0px inset;
    -moz-box-shadow: #0098da 0px 2px 0px inset;
    box-shadow: #0098da 0px 2px 0px inset;
}

/* line 220, smithfield.scss */
.buttonStyle {
    margin-bottom: 5px;
    background-color: #FFF0D6;
    border: 1px solid #FFF0D6;
    color: #333333;
    text-shadow: 0 1px 0 #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: #fed099 0px 2px 0px, rgba(107, 107, 105, 0.1) 0px 4px 1px;
    -moz-box-shadow: #fed099 0px 2px 0px, rgba(107, 107, 105, 0.1) 0px 4px 1px;
    box-shadow: #fed099 0px 2px 0px, rgba(107, 107, 105, 0.1) 0px 4px 1px;
}

/* line 231, smithfield.scss */
.buttonStyle.sapMBtnHover:not(.sapMBtnDisabeled),
.buttonStyle.sapMBtnDesktop:hover:not(.sapMBtnDisabled) {
    background-color: #FFFCF2;
    border: 1px solid #FFFCF2;
}

/* line 237, smithfield.scss */
.buttonStyle.sapMBtnActive:not(.sapMBtnDisabeled),
.buttonStyle.sapMBtnDesktop:active:not(.sapMBtnDisabeled) {
    background-color: #10ACE7;
    border: 1px solid #0098DA;
    -webkit-box-shadow: #0098da 0px 2px 0px inset;
    -moz-box-shadow: #0098da 0px 2px 0px inset;
    box-shadow: #0098da 0px 2px 0px inset;
}

/*Style for Iframe*/
/*#divPdf {*/
    /*overflow: scroll;*/
    /*width: 100%;*/
    /*height: isNaN(window.innerHeight)?window.clientHeight;*/
    /*position: absolute;*/
    /*-webkit-overflow-scrolling: touch;*/
/*}*/

/*#divPdf {*/
    /*overflow: scroll;*/
    /*width: 100%;*/
    /*height: isNaN(window.innerHeight)?window.clientHeight;*/
    /*position: absolute;*/
    /*-webkit-overflow-scrolling: auto;*/
/*}*/
/*}*/
#idBut1 {

}
#idBut2 {
   margin-left: 2%;
}
/*UI5 Loading Style*/
#fountainTextG {
    /*background-image: url("UI5Loading.gif");*/
    width: 234px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.fountainTextG {
    color: rgb(0, 0, 0);
    font-family: Arial;
    font-size: 24px;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    float: left;
    animation-name: bounce_fountainTextG;
    -o-animation-name: bounce_fountainTextG;
    -ms-animation-name: bounce_fountainTextG;
    -webkit-animation-name: bounce_fountainTextG;
    -moz-animation-name: bounce_fountainTextG;
    animation-duration: 2.09s;
    -o-animation-duration: 2.09s;
    -ms-animation-duration: 2.09s;
    -webkit-animation-duration: 2.09s;
    -moz-animation-duration: 2.09s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-direction: normal;
    -o-animation-direction: normal;
    -ms-animation-direction: normal;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
    transform: scale(.5);
    -o-transform: scale(.5);
    -ms-transform: scale(.5);
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
}

#fountainTextG_1 {
    animation-delay: 0.75s;
    -o-animation-delay: 0.75s;
    -ms-animation-delay: 0.75s;
    -webkit-animation-delay: 0.75s;
    -moz-animation-delay: 0.75s;
}

#fountainTextG_2 {
    animation-delay: 0.9s;
    -o-animation-delay: 0.9s;
    -ms-animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
    -moz-animation-delay: 0.9s;
}

#fountainTextG_3 {
    animation-delay: 1.05s;
    -o-animation-delay: 1.05s;
    -ms-animation-delay: 1.05s;
    -webkit-animation-delay: 1.05s;
    -moz-animation-delay: 1.05s;
}

#fountainTextG_4 {
    animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    -ms-animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
}

#fountainTextG_5 {
    animation-delay: 1.35s;
    -o-animation-delay: 1.35s;
    -ms-animation-delay: 1.35s;
    -webkit-animation-delay: 1.35s;
    -moz-animation-delay: 1.35s;
}

#fountainTextG_6 {
    animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    -ms-animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
}

#fountainTextG_7 {
    animation-delay: 1.64s;
    -o-animation-delay: 1.64s;
    -ms-animation-delay: 1.64s;
    -webkit-animation-delay: 1.64s;
    -moz-animation-delay: 1.64s;
}

#fountainTextG_8 {
    animation-delay: 1.79s;
    -o-animation-delay: 1.79s;
    -ms-animation-delay: 1.79s;
    -webkit-animation-delay: 1.79s;
    -moz-animation-delay: 1.79s;
}

#fountainTextG_9 {
    animation-delay: 1.94s;
    -o-animation-delay: 1.94s;
    -ms-animation-delay: 1.94s;
    -webkit-animation-delay: 1.94s;
    -moz-animation-delay: 1.94s;
}

#fountainTextG_10 {
    animation-delay: 2.09s;
    -o-animation-delay: 2.09s;
    -ms-animation-delay: 2.09s;
    -webkit-animation-delay: 2.09s;
    -moz-animation-delay: 2.09s;
}

#fountainTextG_11 {
    animation-delay: 2.24s;
    -o-animation-delay: 2.24s;
    -ms-animation-delay: 2.24s;
    -webkit-animation-delay: 2.24s;
    -moz-animation-delay: 2.24s;
}

#fountainTextG_12 {
    animation-delay: 2.39s;
    -o-animation-delay: 2.39s;
    -ms-animation-delay: 2.39s;
    -webkit-animation-delay: 2.39s;
    -moz-animation-delay: 2.39s;
}

#fountainTextG_13 {
    animation-delay: 2.54s;
    -o-animation-delay: 2.54s;
    -ms-animation-delay: 2.54s;
    -webkit-animation-delay: 2.54s;
    -moz-animation-delay: 2.54s;
}

#fountainTextG_14 {
    animation-delay: 2.69s;
    -o-animation-delay: 2.69s;
    -ms-animation-delay: 2.69s;
    -webkit-animation-delay: 2.69s;
    -moz-animation-delay: 2.69s;
}

#fountainTextG_15 {
    animation-delay: 2.84s;
    -o-animation-delay: 2.84s;
    -ms-animation-delay: 2.84s;
    -webkit-animation-delay: 2.84s;
    -moz-animation-delay: 2.84s;
}

#fountainTextG_16 {
    animation-delay: 2.99s;
    -o-animation-delay: 2.99s;
    -ms-animation-delay: 2.99s;
    -webkit-animation-delay: 2.99s;
    -moz-animation-delay: 2.99s;
}

#fountainTextG_17 {
    animation-delay: 3.14s;
    -o-animation-delay: 3.14s;
    -ms-animation-delay: 3.14s;
    -webkit-animation-delay: 3.14s;
    -moz-animation-delay: 3.14s;
}

@keyframes bounce_fountainTextG {
    0% {
        transform: scale(1);
        color: rgb(0, 0, 0);
    }

    100% {
        transform: scale(.5);
        color: rgb(255, 255, 255);
    }
}

@-o-keyframes bounce_fountainTextG {
    0% {
        -o-transform: scale(1);
        color: rgb(0, 0, 0);
    }

    100% {
        -o-transform: scale(.5);
        color: rgb(255, 255, 255);
    }
}

@-ms-keyframes bounce_fountainTextG {
    0% {
        -ms-transform: scale(1);
        color: rgb(0, 0, 0);
    }

    100% {
        -ms-transform: scale(.5);
        color: rgb(255, 255, 255);
    }
}

@-webkit-keyframes bounce_fountainTextG {
    0% {
        -webkit-transform: scale(1);
        color: rgb(0, 0, 0);
    }

    100% {
        -webkit-transform: scale(.5);
        color: rgb(255, 255, 255);
    }
}

@-moz-keyframes bounce_fountainTextG {
    0% {
        -moz-transform: scale(1);
        color: rgb(0, 0, 0);
    }

    100% {
        -moz-transform: scale(.5);
        color: rgb(255, 255, 255);
    }
}
/*Responsive pdf*/
/*.responsive-iframe {*/
    /*position: relative;*/
    /*padding-bottom: 56.25%;*/
    /*padding-top: 35px;*/
    /*height: 0;*/
    /*overflow: hidden;*/
/*}*/

/*.responsive-iframe iframe {*/
    /*position: absolute;*/
    /*top:0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/